// --------------------------------------
// This file contains all mixins
// --------------------------------------

@mixin flexCenter($aligned, $direction) {
  display: grid;
  justify-content: center;
  align-items: $aligned;
  // flex-direction: $direction;
}
