// --------------------------------------
// This file contains all mixins
// --------------------------------------

@mixin flexCenter($aligned, $direction) {
	display: flex;
	justify-content: center;
	align-items: $aligned;
	flex-direction: $direction;
}
