// --------------------------------------------
// This file contains font and typography rules
// --------------------------------------------
@import "sass/partials/abstracts/mixins";

// font import
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

// text styles
body {
  // @include flexCenter(center, column);
  font-family: var(--primary-font);
}

p {
  font-family: var(--primary-font);
  line-height: var(--line-height);
  color: var(--text-body-color);
}

h1 {
  font-family: var(--primary-font);
  color: white;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 100px;
}

h2 {
  font-family: var(--primary-font);
  font-size: var(--base-font-size);
  //padding-bottom: var(--padding);
  letter-spacing: var(--letter-spacing);
  color: var(--color-7-normal);
  text-align: center;
}

h3 {
  font-family: var(--primary-font);
  font-size: var(--base-font-size-small);
  //margin-bottom: var(--small-gap);
  color: var(--color-3-normal);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
}
