.container2 {
  margin: 50px 0px 50px 0px;
  width: 100%;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.border1 {
  /*border: 1px solid rgba($color: white, $alpha: 0.3);*/
  border-radius: 15px;
  height: 50px;
  //background-color: rgba($color: white, $alpha: 0.3);
}

.border2 {
  /*border: 1px solid var(--color-5-normal);*/
  //background-color: var(--color-5-normal);
  border-radius: 15px;
  height: 50px;
}

.myTable {
  width: 100%;
  height: auto;
}

.serving,
.queue {
  font-size: 2em;
  font-weight: bold;
  /*animation-duration: 1s;
  animation-name: scale-in-center;*/
  height: auto;
  text-align: center;
  //margin: 2px;
  //padding: 8px 11px 11px 10px;
  //float: left;
  position: relative;
}

.queue {
  color: var(--color-6-normal);
}

.serving {
  color: var(--color-4-normal);
}

.queueNumbers,
.popMessage {
  /*animation-duration: 1s;
  animation-name: scale-in-center;*/
  width: auto;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  display: flex;
  align-items: center;
  height: 90px;
  width: auto;

  .cheersImg {
    width: auto;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.readyHeadline {
  margin-top: 30px;
}

.scale-in-center {
  /*-webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes color {
  from {
    color: #504ecc;
  }
  to {
    color: red;
  }
}
