@import "../../sass/partials/abstracts/mixins";

.WRAPPER {
    border-radius: var(--border-radius);
    background: var(--color-2-normal);
    padding: var(--padding);
    box-shadow: var(--box-shadow-neo);
    width: 400px;
    height: 500px;
}

h2 {
    color: white;
    font-size: 2em;
    position: static;
    text-align: center;
}

.numbersContainer {
    width: 300px;
    height: 600px;
    column-count: 3;
    column-gap: 10px;
}

.orderNumber {
    width: 50px;
    text-align: center;
    margin-top: 10px;
    color: lightyellow;
    font-size: 2em;
    font-weight: bold;
    animation-duration: 1s;
    animation-name: scale-in-center;

}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}