.beerItem {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapperBeersStatus {
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(auto, 350px));
  display: grid;
  margin-bottom: auto;
}

.beerBg {
  //background-image: url(/more-beer-less-tears-dashboard/static/media/clooud.bf11f6d7.svg);
  width: 300px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    color: var(--color-2-normal);
    margin-top: 1.5em;
    z-index: 1;
    width: 70%;
    h3 {
      color: var(--color-2-normal);
      letter-spacing: 0.1em;
      margin-top: var(--margin);
      text-align: center;
      margin-bottom: 0.2em;
      text-transform: uppercase;
    }
    h4 {
      color: var(--color-6-dark);
      letter-spacing: 0.1em;
      margin-bottom: 0.1em;
      text-align: center;
    }
    .price {
      color: var(--color-6-dark);
      margin-top: -1px;
      text-align: left;
      font-weight: 200;
    }
  }
}
.beerLeft {
  margin-top: 20px;
}

svg {
  filter: drop-shadow(3px 2px 10px #373792);
}
.beerGlass {
  display: flex;
  justify-content: center;

  .beerImgStatus {
    height: 115px;
    width: 100%;
    object-fit: contain;
    position: absolute;
    width: 100px;
    transform: translateY(-55px);
  }
}

// #theSquare {
//   animation: tt 1s linear alternate infinite;
// }

@keyframes tt {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(50vh);
  }
}

.beerDisplayWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
