#Wrapper {
  margin: var(--margin-large);
  padding: var(--padding);
  box-shadow: var(--box-shadow-neo);
  border-radius: var(--border-radius);
}
#bartenders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

#bartenders div {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
