#bartenders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 50px;

  .wrapperInside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h4 {
    color: var(--color-3-normal);
    letter-spacing: 0.1rem;
  }
}
.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  vertical-align: top;

  img,
  svg {
    width: 100px;
    height: 100px;
  }
}

.wrapperBartender {
  width: 50px;
  border-radius: var(--border-radius);
  padding: var(--padding);

  margin-top: var(--margin);
  padding: var(--padding);
  box-shadow: var(--box-shadow-neo2);
  border-radius: var(--border-radius);
}

.bartender-portrait {
  .cls-1 {
    fill: #ffcf34;
  }
  .cls-2 {
    fill: #504ecc;
  }
  .cls-3 {
    fill: #faffc7;
  }
  .cls-4 {
    fill: #fff;
  }
  .cls-5 {
    fill: #ff6961;
  }
  .cls-6 {
    fill: #68cc4e;
  }
  .cls-7 {
    fill: #5c665a;
  }
}
