// variables and mixins
@import "sass/partials/abstracts/variables";
@import "sass/partials/abstracts/mixins";

// setup base styles
@import "sass/partials/base/base";
@import "sass/partials/base/typography";

// layout for sections
//@import "sass/partials/layout/header";
//@import "sass/partials/layout/footer";
//@import "sass/partials/layout/main";
//@import "sass/partials/layout/navigation";
@import "sass/partials/layout/grid";

// components
//@import "sass/partials/components/buttons";
//@import "sass/partials/components/form";

.logoandAnnoucmentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waitingListItem,
.beerLeftItem {
  display: flex;
}

.beerLeftItem {
  margin: 0 var(--margin);
  h3 {
    margin-bottom: auto;
  }
}

.beerLeftItem {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
